@import (reference) "~less42/base.less";

.layout-test-page {
	background: #efefef;
	padding: 1em 0;

	.layoutTest {
		background: white;
		margin: 1em;
		.grid {
			> * {
				.bga-dark(0.2);
				.sep(0.3);
			}
		}
	}

	.controls {
		display: flex;
		> * {
			padding: 0.25em 0.5em;
			margin-right: 0.5em;
			background: #eee;
		}
	}
}
